@page "/change-password"
@inherits AppChangePasswordBase
@attribute [Authorize]

<PageTitle>Thay đổi mật khẩu - AugCenter</PageTitle>

<MudMainContent Class="augBackground">
<MudContainer MaxWidth="MaxWidth.Medium" Class="augImg pa-5">
    <MudItem>
        <MudText Typo="Typo.h4" Color="Color.Primary">Thay đổi mật khẩu</MudText>
    </MudItem>
    <MudText Class="pa-3 ml-5 mr-5">
        <i>Lưu ý: Mật khẩu là phương pháp xác thực phổ biến nhất hiện nay giúp người dùng dễ dàng đăng nhập vài tài khoản, 
        các dịch vụ trực tuyến. Mật khẩu càng ngắn thì độ an toàn càng thấp và ngược lại. Hãy sử dụng mật khẩu dài và đảm bảo
        đầy đủ các yêu cầu cơ bản. </i>
    </MudText>
    <EditForm Model="@models" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
        <MudGrid Class="justify-center">
            <MudItem sm="12" md="6">
            <MudPaper Class="mt-3">
                    <MudCardContent>
                        <MudItem xs="12">
                            <MudTextField Label="Mật khẩu hiện tại" Class="mt-3" @bind-Value="models.CurrentPassword"
                                HelperText="Nhập mật khẩu hiện tại" Disabled="@_processing"
                                For="@(() => models.CurrentPassword)" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField Label="Mật khẩu mới" Class="mt-3"
                                HelperText="Mật khẩu yêu cầu: 8-15 ký tự, 1 ký tự đặt biệt (!,#,$,%,..), 1 ký tự viết hoa, 1 chữ số. Ví dụ: Abc!1234"
                                @bind-Value="models.Password" For="@(() => models.Password)" InputType="@PasswordInput" Disabled="@_processing"
                                Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon"
                                OnAdornmentClick="@(() => ShowPasswordEvent())" AdornmentAriaLabel="Show Password" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField Label="Nhập lại mật khẩu mới" Class="mt-3"
                                HelperText="Vui lòng nhập lại mật khẩu bên trên" @bind-Value="models.ConfirmPassword"
                                For="@(() => models.ConfirmPassword)" InputType="@PasswordInput" Adornment="Adornment.End"
                                AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="@(() => ShowPasswordEvent())" Disabled="@_processing"
                                AdornmentAriaLabel="Show Password" />
                        </MudItem>
                    </MudCardContent>
                    <MudCardActions Class="d-flex justify-space-between pa-4">
                        <MudIconButton Color="Color.Secondary" Icon="@Icons.Material.Filled.Autorenew" Disabled="@_processing"
                             OnClick="@(() => CleanForm())"></MudIconButton>
                        <MudButton StartIcon="@Icons.Material.Filled.AppRegistration" ButtonType="ButtonType.Submit"
                            Disabled="@_processing" Variant="Variant.Filled" Color="Color.Primary" Class="buttonOrMudTabs ml-auto text-end">
                            Cập nhật
                        </MudButton>
                    </MudCardActions>
                </MudPaper>
            </MudItem>
            <MudItem sm="12" md="6">
                <img width="100%" height="100%" src="imgs/photos/changepassword1.jpg" />
            </MudItem>
        </MudGrid>
    </EditForm>
    <MudItem Class="pa-5 ml-5 mr-5">
         <MudText>
            Một mật khẩu mạnh phải đảm bảo các yếu tố sau:<br/>
            <MudItem Class="pa-2">
                <MudText Class="list-style-type: square;">
                    <li>
                        Sử dụng tối thiểu 8 ký tự, và tối đa 15 ký tự.<br/>
                    </li>
                    <li>
                        Bao gồm số, chữ thường, chữ in hoa và ký tự đặc biệt.<br/>
                    </li>
                    <li>
                        Duy nhất, không dùng chung cho các tài khoản khác.<br/>
                    </li>
                    <li>
                        Không được mang ý nghĩa đi kèm(số điện thoại, ngày sinh, tên địa danh...).<br/>
                    </li>
                    <li>
                        Không sử dụng tên riêng.<br/>
                    </li>
                    <li>    
                        Không sử dụng các con số nổi tiếng, vd: 113, 115, 12345678...<br/>
                    </li>
                </MudText>
            </MudItem>
        </MudText>
        <MudText>
            <b>Một số mật khẩu gợi ý cho tiêu chuẩn trên: Oaz1bc2@@, Ab2467@@@@...</b>
        </MudText>
    </MudItem>
</MudContainer>
</MudMainContent>